{
  "openapi": "3.1.0",
  "info": {
    "title": "NanoGPT API",
    "description": "API documentation for the NanoGPT language, image, video, speech-to-text, and text-to-speech generation services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nano-gpt.com/api",
      "description": "NanoGPT API Server"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "description": "Creates a chat completion for the provided messages. The NanoGPT Advisor extension is available for non-streaming, platform-billed pay-as-you-go API-key requests that do not use client tools, structured output, inline moderation, BYOK, accountless payment, memory, or server-side content enhancements.",
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ],
        "parameters": [
          {
            "name": "X-Provider",
            "in": "header",
            "description": "Optional explicit provider override for supported open-source models (case-insensitive). Explicit provider selection is billed pay-as-you-go at the selected provider's price, including provider-selection markup; for subscription users it bypasses subscription coverage for that request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Billing-Mode",
            "in": "header",
            "description": "Optional billing override to force pay-as-you-go without an explicit provider, or to apply saved provider preferences to subscription-included traffic (e.g., paygo). Header name is case-insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-x402",
            "in": "header",
            "description": "Set to true on unauthenticated accountless x402 quote requests. Without this header, unauthenticated requests return 401 missing_api_key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for chat completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - authenticated insufficient balance or opted-in accountless x402 quote for supported non-streaming requests",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Error" },
                    { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "description": "Creates a completion for the provided prompt. This endpoint is available on a best-effort basis for legacy compatibility, and performance may be less consistent than /v1/chat/completions because not all upstream providers support the legacy completions API.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Provider",
            "in": "header",
            "description": "Optional explicit provider override for supported open-source models (case-insensitive). Explicit provider selection is billed pay-as-you-go at the selected provider's price, including provider-selection markup; for subscription users it bypasses subscription coverage for that request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Billing-Mode",
            "in": "header",
            "description": "Optional billing override to force pay-as-you-go without an explicit provider, or to apply saved provider preferences to subscription-included traffic (e.g., paygo). Header name is case-insensitive.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for text completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/talk-to-gpt": {
      "post": {
        "description": "Legacy endpoint for chat interactions with the GPT model",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for talking to GPT",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TalkToGptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Talk to GPT response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Text response followed by metadata in <NanoGPT> tags"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "description": "List available models with optional detailed information including pricing",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "description": "Returns detailed model information including pricing",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Reorders the returned model list without adding or hiding models. `favorites` orders by the authenticated account's recent model usage and requires a valid API key; without one it falls back to normal ordering. `mostused` orders by global completed model usage and does not require authentication. Unused or unranked models remain after ranked models in normal catalog order. Invalid values are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "favorites",
                "mostused"
              ],
              "example": "favorites"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "description": "Retrieve aggregate spend, request, and token usage for the authenticated API key, grouped by UTC day, model, or both.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "UTC start date in YYYY-MM-DD format. Must be provided together with `to`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-05-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "UTC end date in YYYY-MM-DD format, inclusive. Must be on or after `from` and cannot be in the future.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-05-31"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Controls which aggregate arrays are returned. `model,day` is accepted as an alias for `day,model`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "model",
                "day,model",
                "model,day"
              ],
              "default": "day,model",
              "example": "day,model"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Usage scope. `current_key` and `api_key` both return usage for the authenticated API key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "current_key",
                "api_key"
              ],
              "default": "current_key"
            }
          },
          {
            "name": "api_key_id",
            "in": "query",
            "description": "Optional current API key ID. Requests for another API key are rejected.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 123
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregate usage for the authenticated API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid date range, unsupported parameter, invalid grouping, or request for a different API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageError"
                }
              }
            }
          },
          "429": {
            "description": "Too many usage requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageError"
                }
              }
            }
          },
          "503": {
            "description": "Usage API temporarily unavailable or requested rollup data is not ready yet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected usage retrieval failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageError"
                }
              }
            }
          }
        }
      }
    },
    "/explore/text-models": {
      "get": {
        "description": "Explore text model records. Supports filtering to models whose model-level distillation policy is allowed.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "distillation",
            "in": "query",
            "description": "When set to `allowed`, returns only text models whose model-level distillation policy is allowed. Without this filter, text model responses report `meta.distillation` as `all`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "allowed"
              ],
              "example": "allowed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explore text model results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExploreTextModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/explore/search": {
      "get": {
        "description": "Search explore records. The distillation filter applies only when searching text models.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Explore result type. Use `text` with `distillation=allowed` to search distillation-allowed text models.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "text"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "qwen"
            }
          },
          {
            "name": "distillation",
            "in": "query",
            "description": "When set to `allowed` with `type=text`, returns only text models whose model-level distillation policy is allowed.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "allowed"
              ],
              "example": "allowed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Explore search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExploreTextModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "Legacy endpoint to list available models",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models (legacy format)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsLegacyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models/{canonicalId}/providers": {
      "get": {
        "description": "List available providers and pricing for a model that supports provider selection",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "canonicalId",
            "in": "path",
            "description": "Canonical model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider availability and pricing for the model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelProvidersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid model ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/check-balance": {
      "post": {
        "description": "Check the account balance",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/create": {
      "post": {
        "description": "Create an invitation or referral link with an optional credit amount.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Invitation creation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request body, invalid amount, or insufficient balance",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or unable to get session",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to create invitation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/provider-preferences": {
      "get": {
        "description": "Fetch saved provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider preference settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPreferencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Provider preference updates",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderPreferencesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated provider preference settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPreferencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid exclusions or no usable providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Clear saved provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Provider preferences cleared"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/check-midjourney-status": {
      "post": {
        "description": "Check the status of an asynchronous Midjourney image generation task",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Task ID to check status for",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckMidjourneyStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Midjourney task status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckMidjourneyStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (e.g., missing task_id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid API key)"
          }
        }
      }
    },
    "/receive-nano": {
      "post": {
        "description": "Process pending Nano transactions for the account",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Nano receive operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiveNanoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/nsfw/image": {
      "post": {
        "description": "Binary NSFW classification for image URLs or data URLs",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "NSFW image classification request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NsfwImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "NSFW classification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NsfwImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid image URLs, JSON parsing error, or policy violation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - NSFW classification failed"
          }
        }
      }
    },
    "/generate-video": {
      "post": {
        "description": "Generate videos using supported text-to-video, image-to-video, and video-to-video models. The response includes a runId and pending status; poll the status endpoint for completion. See the docs for the current model list and required inputs.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for video generation across different models and providers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Video generation request submitted successfully (asynchronous processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or safety filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Video generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/status": {
      "get": {
        "description": "Poll the status of a video generation request submitted via /generate-video. Returns normalized status and the final video URL on completion.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
      {
        "name": "runId",
        "in": "query",
        "description": "Run ID returned from the POST /generate-video response",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "model",
        "in": "query",
        "description": "Model identifier used in the generation request (e.g., 'veo2-video')",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
        ],
        "responses": {
          "200": {
            "description": "Current status for the requested video generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateVideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/recover": {
      "get": {
        "description": "Recover recent video generation runs for a user.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "description": "Optional model filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 10, max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "conversationUUID",
            "in": "query",
            "description": "Filter by conversation",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recovered runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Failed to recover runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/extend": {
      "post": {
        "description": "Extend a Midjourney video using a task-based flow (taskId + index).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Midjourney extension request payload (taskId from the original run + index).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoExtendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Video extension request submitted successfully (asynchronous processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or safety filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Video extension failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/content": {
      "get": {
        "description": "Proxy content retrieval for Sora 2 videos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "description": "Run ID returned from the POST /generate-video response",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Must be sora-2",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "description": "video, thumbnail, or spritesheet",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Failed to retrieve content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/status": {
      "get": {
        "description": "Check the status of a video generation request",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "description": "Run ID from the generation request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID from the generation request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cost",
            "in": "query",
            "description": "Cost of the video generation",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentSource",
            "in": "query",
            "description": "Payment source used",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/video/status": {
      "get": {
        "description": "Unified video status endpoint that works across all video backends. Check the status of a video generation request using only the request ID and receive normalized status information.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "The unique request ID returned from any video generation endpoint",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "vid_m1abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "Unified video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedVideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing requestId parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Video generation request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Failed to check video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "servers": [
        {
          "url": "https://nano-gpt.com",
          "description": "Root server for OpenAI-compatible endpoints"
        }
      ],
      "post": {
        "description": "Creates an image generation for the provided prompt (OpenAI-compatible). For unauthenticated accountless x402 quote requests, include x-x402: true.",
        "security": [
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "x-x402",
            "in": "header",
            "description": "Set to true on unauthenticated accountless x402 quote requests. Without this header, unauthenticated requests return 401 missing_api_key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for image generation",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenAIImageGenerationsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation response. Each data[i] contains either { url } or { b64_json }. When requesting response_format: \"url\", the API may fall back to returning { b64_json } if URL generation (upload/presign) fails.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpenAIImageGenerationsResponse" },
                "examples": {
                  "url": {
                    "summary": "Example response (response_format: \"url\")",
                    "value": {
                      "created": 123,
                      "data": [
                        { "url": "https://...signed-url..." }
                      ],
                      "cost": 123,
                      "paymentSource": "<string>",
                      "remainingBalance": 123
                    }
                  },
                  "b64_json": {
                    "summary": "Example response (response_format: \"b64_json\")",
                    "value": {
                      "created": 123,
                      "data": [
                        { "b64_json": "<base64-encoded-image-bytes>" }
                      ],
                      "cost": 123,
                      "paymentSource": "<string>",
                      "remainingBalance": 123
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "402": {
            "description": "Payment Required - authenticated insufficient balance or opted-in accountless x402 quote",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Error" },
                    { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/edits": {
      "post": {
        "description": "Edit images with JSON inputs. Multipart uploads require normal authentication before conversion; accountless x402 applies to JSON edit requests only when the unauthenticated quote request includes x-x402: true.",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "x-x402",
            "in": "header",
            "description": "Set to true on unauthenticated accountless x402 quote requests. Without this header, unauthenticated requests return 401 missing_api_key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "requestBody": {
          "description": "JSON image edit parameters. Provide imageDataUrl or imageDataUrls for accountless x402 quote requests.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "model": { "type": "string" },
                  "prompt": { "type": "string" },
                  "imageDataUrl": { "type": "string" },
                  "imageDataUrls": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "maskDataUrl": { "type": "string" },
                  "size": { "type": "string" },
                  "n": { "type": "integer" }
                },
                "required": ["prompt"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image edit response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpenAIImageGenerationsResponse" }
              }
            }
          },
          "400": {
            "description": "Bad Request - invalid image edit request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - authenticated insufficient balance or opted-in accountless x402 quote for JSON edit requests",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Error" },
                    { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/tee/attestation": {
      "servers": [
        { "url": "https://nano-gpt.com", "description": "Root server for TEE endpoints" }
      ],
      "get": {
        "description": "Fetch TEE attestation report for a model",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "name": "model", "in": "query", "description": "TEE model to attest", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "TEE attestation report",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TEEAttestationResponse" } } }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Server Error" }
        }
      }
    },
    "/v1/tee/signature/{requestId}": {
      "servers": [
        { "url": "https://nano-gpt.com", "description": "Root server for TEE endpoints" }
      ],
      "get": {
        "description": "Fetch ECDSA signature for a chat request",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "name": "requestId", "in": "path", "description": "Chat request ID", "required": true, "schema": { "type": "string" } },
          { "name": "model", "in": "query", "description": "TEE model to attest", "required": true, "schema": { "type": "string" } },
          { "name": "signing_algo", "in": "query", "description": "Signing algorithm to use", "required": false, "schema": { "type": "string" }, "example": "ecdsa" }
        ],
        "responses": {
          "200": {
            "description": "TEE signature response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TEESignatureResponse" } } }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Server Error" }
        }
      }
    },
    "/transcribe": {
      "post": {
        "description": "Transcribe audio (and supported video formats) into text using speech recognition models. Supports multiple languages, diarization (model-dependent), and various formats. Most models return synchronous results; some models (for example Elevenlabs-STT and voice cloning workflows) return asynchronous job IDs.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Audio transcription parameters. Use multipart/form-data for file uploads or application/json for URL-based requests.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Synchronous transcription response (Whisper/Wizper models)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "202": {
            "description": "Asynchronous transcription job started (Elevenlabs-STT model)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - File exceeds size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcribe/status": {
      "post": {
        "description": "Check the status of an asynchronous transcription job (Elevenlabs-STT). Poll this endpoint to get the transcription results when the job is completed.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Status check parameters including runId from the initial transcription request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transcription status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Not Found - Transcription job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/youtube-transcribe": {
      "post": {
        "description": "Extract transcripts from YouTube videos programmatically. Supports multiple URLs per request and provides detailed response information including success/failure status for each video.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "YouTube transcription parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/YouTubeTranscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "YouTube transcription response with results for each URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeTranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Please provide an array of YouTube URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/scrape-urls": {
      "post": {
        "description": "Extract clean, formatted content from web pages. Returns both raw HTML content and formatted markdown.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Web scraping parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web scraping response with results for each URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeUrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Please provide an array of URLs to scrape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred while processing your request"
          }
        }
      }
    },
    "/web": {
      "post": {
        "description": "Perform direct web searches with explicit query control. Defaults to Linkup and supports provider-specific filtering and output formats.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Web search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web search response with results based on output type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Query parameter is required and must be a string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance. A minimum balance of $1.00 is required to use web search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Provider key missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Search failed or timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/web/search": {
      "post": {
        "description": "Public Data API facade for web search. Supports normal API-key billing and accountless x402 quotes when called without Authorization or x-api-key and with x-x402: true.",
        "security": [
          { "apiKeyAuth": [] },
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "x-x402",
            "in": "header",
            "description": "Set to true on unauthenticated accountless x402 quote requests. Without this header, unauthenticated requests return 401 missing_api_key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "requestBody": {
          "description": "Web search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web search response with results based on output type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Query parameter is required and must be a string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - authenticated insufficient balance or opted-in accountless x402 quote",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Error" },
                    { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Provider key missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Search failed or timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/url/scrape": {
      "post": {
        "description": "Public Data API facade for URL scraping. Supports normal API-key billing and accountless x402 quotes when called without Authorization or x-api-key and with x-x402: true. The request body uses urls: [...].",
        "security": [
          { "apiKeyAuth": [] },
          { "bearerAuth": [] },
          {}
        ],
        "parameters": [
          {
            "name": "x-x402",
            "in": "header",
            "description": "Set to true on unauthenticated accountless x402 quote requests. Without this header, unauthenticated requests return 401 missing_api_key.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true"]
            }
          }
        ],
        "requestBody": {
          "description": "Web scraping parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web scraping response with results for each URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeUrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Please provide an array of URLs to scrape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - authenticated insufficient balance or opted-in accountless x402 quote",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/Error" },
                    { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred while processing your request"
          }
        }
      }
    },
    "/transaction/create/{ticker}": {
      "post": {
        "description": "Create a deposit payment intent for the specified ticker. Depending on the ticker, the response may include a pay-in address and/or a payment link. When payment confirms, the user's account balance is automatically credited.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Deposit method ticker symbol",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["btc", "btc-ln", "ltc", "ltc-mweb", "xmr", "doge", "dash", "zec", "bch", "ban", "kas", "ton", "near", "egld", "vvv", "zano", "fusd"]
            }
          }
        ],
        "requestBody": {
          "description": "Deposit amount parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoDepositRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Crypto deposit address generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoDepositResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid amount or unsupported ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Payment provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/limits/{ticker}": {
      "get": {
        "description": "Get minimum and maximum deposit amounts for a payment method",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Deposit method ticker symbol",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["btc", "btc-ln", "ltc", "ltc-mweb", "xmr", "doge", "dash", "zec", "bch", "ban", "kas", "ton", "near", "egld", "vvv", "zano", "fusd", "usdc", "usdt", "eth", "sol", "usd", "eur", "gbp"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment limits for the deposit method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoLimitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Unsupported ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/transaction/create/daimo/{ticker}": {
      "post": {
        "description": "Create a multi-chain payment intent via Daimo Pay. Daimo settles these payments as USDC.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Daimo payment ticker",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["usdc", "usdt", "eth", "sol"]
            }
          }
        ],
        "requestBody": {
          "description": "Payment amount parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoDepositRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Daimo payment intent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DaimoCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid amount or unsupported ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Payment provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/create/usd": {
      "post": {
        "description": "Create a Stripe Checkout session for card deposits.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Deposit amount parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoDepositRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stripe Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid amount",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/status/{ticker}/{txId}": {
      "get": {
        "description": "Check the status of a deposit transaction for a given ticker and transaction ID.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Deposit method ticker symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txId",
            "in": "path",
            "description": "Transaction identifier returned by the create endpoint (or a provider session ID, depending on ticker).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current transaction status",
            "headers": {
              "x-poll-after": {
                "description": "Recommended polling interval (seconds) before checking again.",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Unsupported ticker or invalid txId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Not Found - Transaction not found"
          }
        }
      }
    },
    "/transaction/status/events": {
      "get": {
        "description": "Subscribe to real-time deposit status updates via Server-Sent Events (SSE).",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "query",
            "description": "Deposit method ticker symbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txId",
            "in": "query",
            "description": "Transaction identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream of status updates",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/get-nano-price": {
      "get": {
        "description": "Get the latest NANO/USD price used by Nano-related deposit flows.",
        "responses": {
          "200": {
            "description": "Nano price response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NanoPriceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/get-fiat-prices": {
      "get": {
        "description": "Get fiat exchange rates (USD conversion rates for common currencies).",
        "responses": {
          "200": {
            "description": "Fiat prices response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatPricesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tts": {
      "post": {
        "description": "Convert text into natural-sounding speech using various TTS models from different providers. Supports multiple languages, voices, and customization options including speed control, voice instructions, and audio format selection.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Text-to-speech generation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text-to-speech response. Returns either JSON with audio URL or binary audio data depending on the model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TTSResponse"
                }
              },
              "audio/mp3": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (for OpenAI models)"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - Text exceeds model limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented - Model not yet implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/voice-clone/minimax": {
      "post": {
        "description": "Submit a MiniMax voice cloning job. Returns 202 with a runId. Use the status endpoint to poll until completion.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Voice clone submission. Use multipart/form-data for file uploads or application/json for URL-based requests.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneMinimaxFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneMinimaxJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Voice clone job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or audio format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - Audio exceeds size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/voice-clone/minimax/status": {
      "post": {
        "description": "Check the status of a MiniMax voice clone job.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Status polling request. Include cost/paymentSource/isApiRequest from the submit ticket when available.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice clone status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneMinimaxStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid runId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/voice-clone/qwen": {
      "post": {
        "description": "Submit a Qwen voice cloning job (1.7B). Returns 202 with a runId. Use the status endpoint to poll until completion.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Voice clone submission. Use multipart/form-data for file uploads or application/json for URL-based requests.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneQwenFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneQwenJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Voice clone job started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or audio format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - Audio exceeds size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/voice-clone/qwen/status": {
      "post": {
        "description": "Check the status of a Qwen voice clone job.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Status polling request. Include cost/paymentSource/isApiRequest from the submit ticket when available.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCloneStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice clone status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceCloneQwenStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid runId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/x402/endpoints": {
      "get": {
        "description": "List endpoints supported by accountless x402 in the running deployment. By default only supported endpoints are returned; pass supported=all to include beta and deferred entries. If x402 is disabled, payment storage is unavailable, or completion replay is not configured, the default supported list is empty.",
        "parameters": [
          {
            "name": "supported",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["true", "all"]
            },
            "description": "Use supported=all to include beta and deferred endpoint entries."
          }
        ],
        "responses": {
          "200": {
            "description": "Accountless x402 endpoint support matrix for this deployment",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402EndpointSupportListResponse" }
              }
            }
          }
        }
      }
    },
    "/x402/status/{paymentId}": {
      "get": {
        "description": "Poll the status of an X-402 payment by paymentId.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402StatusResponse" }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/x402/complete/{paymentId}": {
      "post": {
        "description": "Complete a paid X-402 request and execute the original API request associated with the paymentId.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "X-PAYMENT",
            "in": "header",
            "required": false,
            "schema": { "type": "string" },
            "description": "Base64-encoded payment proof for exact schemes"
          }
        ],
        "responses": {
          "200": {
            "description": "Original endpoint response (after payment is verified).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "402": {
            "description": "Payment required or underpaid",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/X402PaymentRequiredResponse" }
              }
            }
          },
          "404": {
            "description": "Payment not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "Payment already completed or processing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "410": {
            "description": "Payment expired",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "500": {
            "description": "Processing failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "description": "Create embeddings for text using OpenAI-compatible and alternative embedding models",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for creating embeddings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Embedding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/embedding-models": {
      "get": {
        "description": "List all available embedding models with detailed information",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/moderation-models": {
      "get": {
        "description": "List available moderation models, capabilities, context limits, and pricing",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "detailed",
[...]
