{
  "openapi": "3.1.0",
  "info": {
    "title": "NanoGPT API",
    "description": "API documentation for the NanoGPT language, image, video, speech-to-text, and text-to-speech generation services",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nano-gpt.com/api",
      "description": "NanoGPT API Server"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "description": "Creates a chat completion for the provided messages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "X-Provider",
            "in": "header",
            "description": "Optional provider override for pay-as-you-go requests on supported open-source models (case-insensitive). Subscription requests ignore this header.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters for chat completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Chat completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/completions": {
      "post": {
        "description": "Creates a completion for the provided prompt",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for text completion",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text completion response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/talk-to-gpt": {
      "post": {
        "description": "Legacy endpoint for chat interactions with the GPT model",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for talking to GPT",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TalkToGptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Talk to GPT response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Text response followed by metadata in <NanoGPT> tags"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "description": "List available models with optional detailed information including pricing",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "description": "Returns detailed model information including pricing",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "description": "Legacy endpoint to list available models",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available models (legacy format)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsLegacyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models/{canonicalId}/providers": {
      "get": {
        "description": "List available providers and pricing for a model that supports provider selection",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "canonicalId",
            "in": "path",
            "description": "Canonical model ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider availability and pricing for the model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelProvidersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid model ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/check-balance": {
      "post": {
        "description": "Check the account balance",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/create": {
      "post": {
        "description": "Create an invitation or referral link with an optional credit amount.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Invitation creation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request body, invalid amount, or insufficient balance",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or unable to get session",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Failed to create invitation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/provider-preferences": {
      "get": {
        "description": "Fetch saved provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider preference settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPreferencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Provider preference updates",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProviderPreferencesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated provider preference settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderPreferencesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid exclusions or no usable providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Clear saved provider preferences for the current user session",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Provider preferences cleared"
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/check-midjourney-status": {
      "post": {
        "description": "Check the status of an asynchronous Midjourney image generation task",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Task ID to check status for",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckMidjourneyStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Midjourney task status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckMidjourneyStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (e.g., missing task_id)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid API key)"
          }
        }
      }
    },
    "/receive-nano": {
      "post": {
        "description": "Process pending Nano transactions for the account",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Nano receive operation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiveNanoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/nsfw/image": {
      "post": {
        "description": "Binary NSFW classification for image URLs or data URLs",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "NSFW image classification request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NsfwImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "NSFW classification response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NsfwImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid image URLs, JSON parsing error, or policy violation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - NSFW classification failed"
          }
        }
      }
    },
    "/generate-video": {
      "post": {
        "description": "Generate videos using supported text-to-video, image-to-video, and video-to-video models. The response includes a runId and pending status; poll the status endpoint for completion. See the docs for the current model list and required inputs.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for video generation across different models and providers",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Video generation request submitted successfully (asynchronous processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or safety filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Video generation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/status": {
      "get": {
        "description": "Poll the status of a video generation request submitted via /generate-video. Returns normalized status and the final video URL on completion.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
      {
        "name": "runId",
        "in": "query",
        "description": "Run ID returned from the POST /generate-video response",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      {
        "name": "model",
        "in": "query",
        "description": "Model identifier used in the generation request (e.g., 'veo2-video')",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
        ],
        "responses": {
          "200": {
            "description": "Current status for the requested video generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateVideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/recover": {
      "get": {
        "description": "Recover recent video generation runs for a user.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "model",
            "in": "query",
            "description": "Optional model filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max results (default 10, max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "conversationUUID",
            "in": "query",
            "description": "Filter by conversation",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recovered runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Failed to recover runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/extend": {
      "post": {
        "description": "Extend a Midjourney video using a task-based flow (taskId + index).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Midjourney extension request payload (taskId from the original run + index).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoExtendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Video extension request submitted successfully (asynchronous processing)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or safety filter triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Video extension failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/generate-video/content": {
      "get": {
        "description": "Proxy content retrieval for Sora 2 videos.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "description": "Run ID returned from the POST /generate-video response",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "model",
            "in": "query",
            "description": "Must be sora-2",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "description": "video, thumbnail, or spritesheet",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Content response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "500": {
            "description": "Server Error - Failed to retrieve content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/video/status": {
      "get": {
        "description": "Check the status of a video generation request",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "query",
            "description": "Run ID from the generation request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "description": "Project ID from the generation request",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cost",
            "in": "query",
            "description": "Cost of the video generation",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentSource",
            "in": "query",
            "description": "Payment source used",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/video/status": {
      "get": {
        "description": "Unified video status endpoint that works with any provider. Check the status of a video generation request using only the request ID - the system automatically determines the provider and returns normalized status information.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "query",
            "description": "The unique request ID returned from any video generation endpoint",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "fal-1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Unified video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnifiedVideoStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing requestId parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Video generation request not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Failed to check video generation status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "servers": [
        {
          "url": "https://nano-gpt.com",
          "description": "Root server for OpenAI-compatible endpoints"
        }
      ],
      "post": {
        "description": "Creates an image generation for the provided prompt (OpenAI-compatible)",
        "security": [
          { "bearerAuth": [] }
        ],
        "requestBody": {
          "description": "Parameters for image generation",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenAIImageGenerationsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image generation response. Each data[i] contains either { url } or { b64_json }. When requesting response_format: \"url\", the API may fall back to returning { b64_json } if URL generation (upload/presign) fails.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpenAIImageGenerationsResponse" },
                "examples": {
                  "url": {
                    "summary": "Example response (response_format: \"url\")",
                    "value": {
                      "created": 123,
                      "data": [
                        { "url": "https://...signed-url..." }
                      ],
                      "cost": 123,
                      "paymentSource": "<string>",
                      "remainingBalance": 123
                    }
                  },
                  "b64_json": {
                    "summary": "Example response (response_format: \"b64_json\")",
                    "value": {
                      "created": 123,
                      "data": [
                        { "b64_json": "<base64-encoded-image-bytes>" }
                      ],
                      "cost": 123,
                      "paymentSource": "<string>",
                      "remainingBalance": 123
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/tee/attestation": {
      "servers": [
        { "url": "https://nano-gpt.com", "description": "Root server for TEE endpoints" }
      ],
      "get": {
        "description": "Fetch TEE attestation report for a model",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "name": "model", "in": "query", "description": "TEE model to attest", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "TEE attestation report",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TEEAttestationResponse" } } }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Server Error" }
        }
      }
    },
    "/v1/tee/signature/{requestId}": {
      "servers": [
        { "url": "https://nano-gpt.com", "description": "Root server for TEE endpoints" }
      ],
      "get": {
        "description": "Fetch ECDSA signature for a chat request",
        "security": [ { "bearerAuth": [] } ],
        "parameters": [
          { "name": "requestId", "in": "path", "description": "Chat request ID", "required": true, "schema": { "type": "string" } },
          { "name": "model", "in": "query", "description": "TEE model to attest", "required": true, "schema": { "type": "string" } },
          { "name": "signing_algo", "in": "query", "description": "Signing algorithm to use", "required": false, "schema": { "type": "string" }, "example": "ecdsa" }
        ],
        "responses": {
          "200": {
            "description": "TEE signature response",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TEESignatureResponse" } } }
          },
          "400": { "description": "Bad Request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized" },
          "500": { "description": "Server Error" }
        }
      }
    },
    "/transcribe": {
      "post": {
        "description": "Transcribe audio files into text using state-of-the-art speech recognition models. Supports multiple languages, speaker diarization, and various audio formats. Returns synchronous results for Whisper/Wizper models and asynchronous job IDs for Elevenlabs-STT.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Audio transcription parameters. Use multipart/form-data for file uploads or application/json for URL-based requests.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeFormRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Synchronous transcription response (Whisper/Wizper models)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "202": {
            "description": "Asynchronous transcription job started (Elevenlabs-STT model)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeAsyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - File exceeds size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transcribe/status": {
      "post": {
        "description": "Check the status of an asynchronous transcription job (Elevenlabs-STT). Poll this endpoint to get the transcription results when the job is completed.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Status check parameters including runId from the initial transcription request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeStatusRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transcription status response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Not Found - Transcription job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/youtube-transcribe": {
      "post": {
        "description": "Extract transcripts from YouTube videos programmatically. Supports multiple URLs per request and provides detailed response information including success/failure status for each video.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "YouTube transcription parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/YouTubeTranscribeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "YouTube transcription response with results for each URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeTranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Please provide an array of YouTube URLs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/scrape-urls": {
      "post": {
        "description": "Extract clean, formatted content from web pages. Returns both raw HTML content and formatted markdown.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Web scraping parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web scraping response with results for each URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeUrlsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Please provide an array of URLs to scrape",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred while processing your request"
          }
        }
      }
    },
    "/web": {
      "post": {
        "description": "Perform AI-powered web searches using Linkup with multiple output formats, date filtering, and domain filtering.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Web search parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Web search response with results based on output type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Query parameter is required and must be a string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid session or API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance. A minimum balance of $1.00 is required to use web search.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred while processing your request"
          }
        }
      }
    },
    "/transaction/create/{ticker}": {
      "post": {
        "description": "Generate a cryptocurrency deposit address via BTCPayServer integration. When crypto is sent to the generated address, the user's account balance is automatically credited.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Cryptocurrency ticker symbol",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["btc", "ltc", "xmr", "doge", "dash", "bch", "ban"]
            }
          }
        ],
        "requestBody": {
          "description": "Deposit amount parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoDepositRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Crypto deposit address generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoDepositResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid amount or unsupported ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server Error - Payment provider unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/limits/{ticker}": {
      "get": {
        "description": "Get minimum and maximum deposit amounts for a cryptocurrency",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "description": "Cryptocurrency ticker symbol",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["btc", "ltc", "xmr", "doge", "dash", "bch", "ban"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment limits for the cryptocurrency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoLimitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Unsupported ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      }
    },
    "/tts": {
      "post": {
        "description": "Convert text into natural-sounding speech using various TTS models from different providers. Supports multiple languages, voices, and customization options including speed control, voice instructions, and audio format selection.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Text-to-speech generation parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TTSRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Text-to-speech response. Returns either JSON with audio URL or binary audio data depending on the model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TTSResponse"
                }
              },
              "audio/mp3": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (for OpenAI models)"
                }
              },
              "audio/wav": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data"
                }
              },
              "audio/opus": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              },
              "audio/aac": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              },
              "audio/flac": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Binary audio data (OpenAI models)"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or missing text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - Text exceeds model limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented - Model not yet implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "description": "Create embeddings for text using OpenAI-compatible and alternative embedding models",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Parameters for creating embeddings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Embedding response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v1/embedding-models": {
      "get": {
        "description": "List all available embedding models with detailed information",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available embedding models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory": {
      "post": {
        "description": "Compress a conversation with Context Memory and return compressed messages and usage (no model inference)",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] }
        ],
        "requestBody": {
          "description": "Parameters for memory compression",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MemoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Memory compression response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/MemoryResponse" } }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid messages",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "description": "Unauthorized - Invalid or missing API key" },
          "402": {
            "description": "Payment Required - Insufficient balance",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/responses": {
      "post": {
        "description": "Create a response with the OpenAI-compatible Responses API",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] }
        ],
        "requestBody": {
          "description": "Parameters for the response request",
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResponsesCreateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response created",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesResponse" } }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "description": "Unauthorized - Invalid or missing API key" },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "get": {
        "description": "Returns endpoint information for the Responses API",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Endpoint information",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesInfoResponse" } }
            }
          }
        }
      }
    },
    "/v1/responses/{id}": {
      "get": {
        "description": "Retrieve a stored response by ID",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] }
        ],
        "parameters": [
          { "name": "id", "in": "path", "description": "Response ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Stored response",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesResponse" } }
            }
          },
          "401": { "description": "Unauthorized - Invalid or missing API key" },
          "404": {
            "description": "Not Found - Response does not exist",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      },
      "delete": {
        "description": "Delete a stored response (soft delete)",
        "security": [
          { "bearerAuth": [] },
          { "apiKeyAuth": [] }
        ],
        "parameters": [
          { "name": "id", "in": "path", "description": "Response ID", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Response deleted",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ResponsesDeleteResponse" } }
            }
          },
          "401": { "description": "Unauthorized - Invalid or missing API key" },
          "404": {
            "description": "Not Found - Response does not exist",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for completion. Append ':online' for web search ($0.005/request) or ':online/linkup-deep' for deep web search ($0.05/request)",
            "default": "openai/gpt-5.2",
            "examples": ["openai/gpt-5.2", "openai/gpt-5.2:online", "openai/gpt-5.2:online/linkup-deep", "anthropic/claude-opus-4.5:online"]
          },
          "messages": {
            "type": "array",
            "description": "Array of message objects with role and content",
            "default": [
              {
                "role": "user",
                "content": "Testing, please reply!"
              }
            ],
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string",
                  "description": "The role of the message author",
                  "enum": ["system", "user", "assistant"]
                },
                "content": {
                  "description": "Message content as a simple string or an array of multimodal parts",
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageContentPart"
                      }
                    }
                  ]
                }
              }
            }
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response",
            "default": false
          },
          "service_tier": {
            "type": "string",
            "enum": ["auto", "default", "flex", "priority"],
            "description": "Optional service tier. Set to \"priority\" to request priority processing when supported by the routed provider"
          },
          "temperature": {
            "type": "number",
            "description": "Classic randomness control. Accepts any decimal between 0-2. Lower numbers bias toward deterministic responses, higher values explore more aggressively",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "description": "Upper bound on generated tokens",
            "default": 4000,
            "minimum": 1
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling. When set below 1.0, trims candidate tokens to the smallest set whose cumulative probability exceeds top_p. Works well as an alternative to tweaking temperature",
            "minimum": 0,
            "maximum": 1,
            "default": 1
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Penalizes tokens proportionally to how often they appeared previously. Negative values encourage repetition; positive values discourage it",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0
          },
          "presence_penalty": {
            "type": "number",
            "description": "Penalizes tokens based on whether they appeared at all. Good for keeping the model on topic without outright banning words",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0
          },
          "repetition_penalty": {
            "type": "number",
            "description": "Provider-agnostic repetition modifier (distinct from OpenAI penalties). Values >1 discourage repetition",
            "minimum": -2.0,
            "maximum": 2.0
          },
          "top_k": {
            "type": "integer",
            "description": "Caps sampling to the top-k highest probability tokens per step"
          },
          "top_a": {
            "type": "number",
            "description": "Combines top-p and temperature behavior; leave unset unless a model description explicitly calls for it"
          },
          "min_p": {
            "type": "number",
            "description": "Ensures each candidate token probability exceeds a floor (0-1). Helpful for stopping models from collapsing into low-entropy loops",
            "minimum": 0,
            "maximum": 1
          },
          "tfs": {
            "type": "number",
            "description": "Tail free sampling. Values between 0-1 let you shave the long tail of the distribution; 1.0 disables the feature",
            "minimum": 0,
            "maximum": 1
          },
          "eta_cutoff": {
            "type": "number",
            "description": "Cut probabilities as soon as they fall below the specified tail threshold"
          },
          "epsilon_cutoff": {
            "type": "number",
            "description": "Cut probabilities as soon as they fall below the specified tail threshold"
          },
          "typical_p": {
            "type": "number",
            "description": "Typical sampling (aka entropy-based nucleus). Works like top_p but preserves tokens whose surprise matches the expected entropy",
            "minimum": 0,
            "maximum": 1
          },
          "mirostat_mode": {
            "type": "integer",
            "description": "Enables Mirostat sampling for models that support it. Set to 1 or 2 to activate",
            "enum": [0, 1, 2]
          },
          "mirostat_tau": {
            "type": "number",
            "description": "Mirostat target entropy parameter. Used when mirostat_mode is enabled"
          },
          "mirostat_eta": {
            "type": "number",
            "description": "Mirostat learning rate parameter. Used when mirostat_mode is enabled"
          },
          "min_tokens": {
            "type": "integer",
            "description": "For providers that support it, enforces a minimum completion length before stop conditions fire",
            "default": 0,
            "minimum": 0
          },
          "stop": {
            "description": "Stop sequences. Accepts string or array of strings. Values are passed directly to upstream providers",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "stop_token_ids": {
            "type": "array",
            "description": "Numeric array that lets callers stop generation on specific token IDs. Not supported by many providers",
            "items": {
              "type": "integer"
            }
          },
          "include_stop_str_in_output": {
            "type": "boolean",
            "description": "When true, keeps the stop sequence in the final text. Not supported by many providers",
            "default": false
          },
          "ignore_eos": {
            "type": "boolean",
            "description": "Allows completions to continue even if the model predicts EOS internally. Useful for long creative writing runs",
            "default": false
          },
          "no_repeat_ngram_size": {
            "type": "integer",
            "description": "Extension that forbids repeating n-grams of the given size. Not supported by many providers",
            "minimum": 0
          },
          "custom_token_bans": {
            "type": "array",
            "description": "List of token IDs to fully block",
            "items": {
              "type": "integer"
            }
          },
          "logit_bias": {
            "type": "object",
            "description": "Object mapping token IDs to additive logits. Works just like OpenAI's version",
            "additionalProperties": {
              "type": "number"
            }
          },
          "logprobs": {
            "description": "When true or a number, forwards the request to providers that support returning token-level log probabilities",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              }
            ]
          },
          "prompt_logprobs": {
            "type": "boolean",
            "description": "Requests logprobs on the prompt itself when the upstream API allows it"
          },
          "seed": {
            "type": "integer",
            "description": "Numeric seed. Wherever supported, passes the value to make completions repeatable"
          },
          "prompt_caching": {
            "type": "object",
            "description": "Helper to tag the leading messages for Claude prompt caching. NanoGPT injects cache_control blocks on each message up to the specified index before forwarding to Anthropic.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Whether to enable prompt caching on this request",
                "default": false
              },
              "ttl": {
                "type": "string",
                "description": "Cache time-to-live ('5m' or '1h')",
                "enum": ["5m", "1h"],
                "example": "5m"
              },
              "cut_after_message_index": {
                "type": "integer",
                "minimum": 0,
                "description": "Zero-based index of the last message that should be cached. All messages up to and including this index receive the same cache_control block."
              }
            }
          }
        }
      },
      "MessageContentPart": {
        "type": "object",
        "required": ["type"],
        "additionalProperties": true,
        "properties": {
          "type": {
            "type": "string",
            "description": "Content block type",
            "enum": ["text", "image_url", "input_text", "input_audio", "input_video", "tool_use", "tool_result"]
          },
          "text": {
            "type": "string",
            "description": "Text content when type is 'text'"
          },
          "image_url": {
            "type": "object",
            "description": "Image reference for multimodal prompts",
            "properties": {
              "url": {
                "type": "string",
                "description": "HTTPS URL or base64 data URL for the image"
              },
              "detail": {
                "type": "string",
                "description": "Requested image resolution detail",
                "enum": ["low", "high", "auto"]
              }
            }
          },
          "input_audio": {
            "type": "object",
            "description": "Inline audio input payload",
            "properties": {
              "data": {
                "type": "string",
                "description": "Base64 encoded audio bytes"
              },
              "format": {
                "type": "string",
                "description": "Audio format (e.g. wav, mp3)"
              }
            }
          },
          "input_video": {
            "type": "object",
            "description": "Inline video reference",
            "properties": {
              "video_url": {
                "type": "string",
                "description": "HTTPS URL or data URL for the video"
              }
            }
          },
          "cache_control": {
            "type": "object",
            "description": "Claude-only prompt caching control applied to this block. When present, NanoGPT forwards it unchanged to Anthropic.",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["ephemeral"],
                "description": "Cache type. Claude currently exposes the 'ephemeral' tier for 5m/1h TTLs."
              },
              "ttl": {
                "type": "string",
                "enum": ["5m", "1h"],
                "description": "Optional TTL override for this block."
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the completion"
          },
          "object": {
            "type": "string",
            "description": "Object type, always 'chat.completion'"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp of when the completion was created"
          },
          "choices": {
            "type": "array",
            "description": "Array of completion choices",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Index of the choice"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "description": "Role of the completion message",
                      "enum": ["assistant"]
                    },
                    "content": {
                      "type": "string",
                      "description": "Content of the completion message"
                    }
                  }
                },
                "finish_reason": {
                  "type": "string",
                  "description": "Reason why the completion finished",
                  "enum": ["stop", "length", "content_filter"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "Number of tokens in the prompt"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "Number of tokens in the completion"
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens used"
              }
            }
          },
          "service_tier": {
            "type": "string",
            "description": "Service tier used (echoed when provided on the request)"
          }
        }
      },
      "CompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "The model to use for completion. Append ':online' for web search ($0.005/request) or ':online/linkup-deep' for deep web search ($0.05/request)",
            "default": "openai/gpt-5.2",
            "examples": ["openai/gpt-5.2", "openai/gpt-5.2:online", "openai/gpt-5.2:online/linkup-deep", "anthropic/claude-opus-4.5:online"]
          },
          "prompt": {
            "type": "string",
            "description": "The text prompt to complete"
          },
          "max_tokens": {
            "type": "integer",
            "description": "Upper bound on generated tokens",
            "default": 4000,
            "minimum": 1
          },
          "temperature": {
            "type": "number",
            "description": "Classic randomness control. Accepts any decimal between 0-2. Lower numbers bias toward deterministic responses, higher values explore more aggressively",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "Nucleus sampling. When set below 1.0, trims candidate tokens to the smallest set whose cumulative probability exceeds top_p. Works well as an alternative to tweaking temperature",
            "minimum": 0,
            "maximum": 1,
            "default": 1
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response",
            "default": false
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Stop sequences. Accepts string or array of strings. Values are passed directly to upstream providers"
          },
          "frequency_penalty": {
            "type": "number",
            "description": "Penalizes tokens proportionally to how often they appeared previously. Negative values encourage repetition; positive values discourage it",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0
          },
          "presence_penalty": {
            "type": "number",
            "description": "Penalizes tokens based on whether they appeared at all. Good for keeping the model on topic without outright banning words",
            "minimum": -2.0,
            "maximum": 2.0,
            "default": 0
          },
          "repetition_penalty": {
            "type": "number",
            "description": "Provider-agnostic repetition modifier (distinct from OpenAI penalties). Values >1 discourage repetition",
            "minimum": -2.0,
            "maximum": 2.0
          },
          "top_k": {
            "type": "integer",
            "description": "Caps sampling to the top-k highest probability tokens per step"
          },
          "top_a": {
            "type": "number",
            "description": "Combines top-p and temperature behavior; leave unset unless a model description explicitly calls for it"
          },
          "min_p": {
            "type": "number",
            "description": "Ensures each candidate token probability exceeds a floor (0-1). Helpful for stopping models from collapsing into low-entropy loops",
            "minimum": 0,
            "maximum": 1
          },
          "tfs": {
            "type": "number",
            "description": "Tail free sampling. Values between 0-1 let you shave the long tail of the distribution; 1.0 disables the feature",
            "minimum": 0,
            "maximum": 1
          },
          "eta_cutoff": {
            "type": "number",
            "description": "Cut probabilities as soon as they fall below the specified tail threshold"
          },
          "epsilon_cutoff": {
            "type": "number",
            "description": "Cut probabilities as soon as they fall below the specified tail threshold"
          },
          "typical_p": {
            "type": "number",
            "description": "Typical sampling (aka entropy-based nucleus). Works like top_p but preserves tokens whose surprise matches the expected entropy",
            "minimum": 0,
            "maximum": 1
          },
          "mirostat_mode": {
            "type": "integer",
            "description": "Enables Mirostat sampling for models that support it. Set to 1 or 2 to activate",
            "enum": [0, 1, 2]
          },
          "mirostat_tau": {
            "type": "number",
            "description": "Mirostat target entropy parameter. Used when mirostat_mode is enabled"
          },
          "mirostat_eta": {
            "type": "number",
            "description": "Mirostat learning rate parameter. Used when mirostat_mode is enabled"
          },
          "min_tokens": {
            "type": "integer",
            "description": "For providers that support it, enforces a minimum completion length before stop conditions fire",
            "default": 0,
            "minimum": 0
          },
          "stop_token_ids": {
            "type": "array",
            "description": "Numeric array that lets callers stop generation on specific token IDs. Not supported by many providers",
            "items": {
              "type": "integer"
            }
          },
          "include_stop_str_in_output": {
            "type": "boolean",
            "description": "When true, keeps the stop sequence in the final text. Not supported by many providers",
            "default": false
          },
          "ignore_eos": {
            "type": "boolean",
            "description": "Allows completions to continue even if the model predicts EOS internally. Useful for long creative writing runs",
            "default": false
          },
          "no_repeat_ngram_size": {
            "type": "integer",
            "description": "Extension that forbids repeating n-grams of the given size. Not supported by many providers",
            "minimum": 0
          },
          "custom_token_bans": {
            "type": "array",
            "description": "List of token IDs to fully block",
            "items": {
              "type": "integer"
            }
          },
          "logit_bias": {
            "type": "object",
            "description": "Object mapping token IDs to additive logits. Works just like OpenAI's version",
            "additionalProperties": {
              "type": "number"
            }
          },
          "logprobs": {
            "description": "When true or a number, forwards the request to providers that support returning token-level log probabilities",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              }
            ]
          },
          "prompt_logprobs": {
            "type": "boolean",
            "description": "Requests logprobs on the prompt itself when the upstream API allows it"
          },
          "seed": {
            "type": "integer",
            "description": "Numeric seed. Wherever supported, passes the value to make completions repeatable"
          }
        }
      },
      "CompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the completion"
          },
          "object": {
            "type": "string",
            "description": "Object type, always 'text_completion'"
          },
          "created": {
            "type": "integer",
            "description": "Unix timestamp of when the completion was created"
          },
          "model": {
            "type": "string",
            "description": "Model used for completion"
          },
          "choices": {
            "type": "array",
            "description": "Array of completion choices",
            "items": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The completed text"
                },
                "index": {
                  "type": "integer",
                  "description": "Index of the choice"
                },
                "logprobs": {
                  "type": "object",
                  "nullable": true,
                  "description": "Log probabilities of tokens (if requested)"
                },
                "finish_reason": {
                  "type": "string",
                  "description": "Reason why the completion finished",
                  "enum": ["stop", "length", "content_filter"]
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "Number of tokens in the prompt"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "Number of tokens in the completion"
              },
              "total_tokens": {
                "type": "integer",
                "description": "Total number of tokens used"
              }
            }
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "prompt",
          "model"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The text description of the image to generate",
            "example": "RAW photo, a portrait photo of a latina woman in casual clothes, natural skin, 8k uhd, high quality, film grain, Fujifilm XT3"
          },
          "model": {
            "type": "string",
            "description": "The model to use for generation",
            "default": "recraft-v3"
          },
          "width": {
            "type": "integer",
            "description": "Width of the generated image",
            "default": 1024
          },
          "height": {
            "type": "integer",
            "description": "Height of the generated image",
            "default": 1024
          },
          "negative_prompt": {
            "type": "string",
            "description": "Things to avoid in the generated image"
          },
          "nImages": {
            "type": "integer",
            "description": "Number of images to generate",
            "default": 1
          },
          "num_steps": {
            "type": "integer",
            "description": "Number of denoising steps",
            "default": 10
          },
          "resolution": {
            "type": "string",
            "description": "Output resolution",
            "default": "1024x1024"
          },
          "sampler_name": {
            "type": "string",
            "description": "Sampling method"
          },
          "scale": {
            "type": "number",
            "description": "Guidance scale",
            "default": 7.5
          },
          "imageDataUrl": {
            "type": "string",
            "description": "Base64-encoded image data URL for img2img generation (format: data:image/[type];base64,[data])",
            "example": "data:image/jpeg;base64,/9j/4AAQ..."
          },
          "kontext_max_mode": {
            "type": "boolean",
            "description": "When using flux-kontext model, enables maximum context mode for better image understanding",
            "default": false
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "Base64 encoded image data"
          },
          "cost": {
            "type": "number",
            "description": "Cost of the generation"
          },
          "inputTokens": {
            "type": "integer",
            "description": "Number of input tokens used"
          },
          "outputTokens": {
            "type": "integer",
            "description": "Number of output tokens used"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TalkToGptRequest": {
        "type": "object",
        "required": [
          "model"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "description": "The text prompt to send to GPT (optional)",
            "default": "",
            "example": "Please explain the concept of artificial intelligence."
          },
          "model": {
            "type": "string",
            "description": "The model to use for generation. Append ':online' for web search ($0.005/request) or ':online/linkup-deep' for deep web search ($0.05/request)",
            "default": "openai/gpt-5.2",
            "examples": ["openai/gpt-5.2", "openai/gpt-5.2:online", "anthropic/claude-opus-4.5:online/linkup-deep"]
          },
          "messages": {
            "type": "array",
            "description": "Array of previous message objects for context (optional)",
            "default": [
              {
                "role": "user",
                "content": "Hi, I'm just testing!"
              }
            ],
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
                  "type": "string", 
                  "description": "The role of the message author",
                  "enum": ["user", "assistant"]
                },
                "content": {
                  "type": "string",
                  "description": "The content of the message"
                }
              }
            }
          }
        }
      },
      "ModelsResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "Type of object, always 'list' for the models response",
            "default": "list"
          },
          "data": {
            "type": "array",
            "description": "List of available models",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for the model",
                  "example": "openai/gpt-5.2"
                },
                "object": {
                  "type": "string",
                  "description": "Type of object, always 'model'",
                  "default": "model"
                },
                "created": {
                  "type": "integer",
                  "description": "Unix timestamp when the model was created"
                },
                "owned_by": {
                  "type": "string",
                  "description": "Organization that owns the model",
                  "example": "openai"
                },
                "name": {
                  "type": "string",
                  "description": "Human-readable model name (detailed mode only)",
                  "example": "GPT-4o Mini"
                },
                "description": {
                  "type": "string",
                  "description": "Detailed model description (detailed mode only)",
                  "example": "OpenAI's affordable and intelligent small model for fast, lightweight tasks"
                },
                "context_length": {
                  "type": "integer",
                  "description": "Maximum input tokens (detailed mode only, null if not available)",
                  "example": 128000
                },
                "pricing": {
                  "type": "object",
                  "description": "Pricing information object (detailed mode only)",
                  "properties": {
                    "prompt": {
                      "type": "number",
                      "description": "Cost per million input tokens in USD",
                      "example": 0.00015
                    },
                    "completion": {
                      "type": "number",
                      "description": "Cost per million output tokens in USD",
                      "example": 0.0006
                    },
                    "currency": {
                      "type": "string",
                      "description": "Always 'USD'",
                      "default": "USD"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Always 'per_million_tokens'",
                      "default": "per_million_tokens"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ModelsLegacyResponse": {
        "type": "object",
        "properties": {
          "models": {
            "type": "array",
            "description": "List of available model names",
            "items": {
              "type": "string",
              "description": "Model identifier",
              "example": "openai/gpt-5.2"
            }
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "usd_balance": {
            "type": "string",
            "description": "Account balance in USD",
            "example": "129.46956147"
          },
          "nano_balance": {
            "type": "string",
            "description": "Account balance in Nano",
            "example": "26.71801147"
          },
          "nanoDepositAddress": {
            "type": "string",
            "description": "Nano deposit address for the account",
            "example": "nano_1gx385nnj7rw67hsksa3pyxwnfr48zu13t35ncjmtnqb9zdebtjhh7ahks34"
          }
        }
      },
      "ReceiveNanoResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the operation was successful"
          },
          "received_blocks": {
            "type": "array",
            "description": "Array of received block hashes",
            "items": {
              "type": "string"
            }
          },
          "total_received": {
            "type": "string",
            "description": "Total amount of Nano received"
          }
        }
      },
      "NsfwImageRequest": {
        "type": "object",
        "description": "NSFW image classification request payload",
        "properties": {
          "image_urls": {
            "description": "Primary input field. One URL or an array of URLs (only the first 10 are processed).",
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/image.jpg"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                },
                "minItems": 1,
                "example": [
                  "https://example.com/image-1.jpg",
                  "https://example.com/image-2.jpg"
                ]
              }
            ]
          },
          "imageUrls": {
            "description": "Alias for image_urls. One URL or an array of URLs (only the first 10 are processed).",
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/image.jpg"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                },
                "minItems": 1
              }
            ]
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Alias for a single image URL",
            "example": "https://example.com/image.jpg"
          },
          "imageDataUrl": {
            "type": "string",
            "description": "Base64 data URL for a single image (format: data:image/[type];base64,[data])",
            "example": "data:image/jpeg;base64,/9j/4AAQ..."
          },
          "imageDataUrls": {
            "type": "array",
            "description": "Base64 data URLs for multiple images (only the first 10 are processed)",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "model": {
            "type": "string",
            "description": "Only supported value is nsfw-classifier",
            "default": "nsfw-classifier"
          }
        }
      },
      "NsfwImageResponse": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "The classifier model used",
            "example": "nsfw-classifier"
          },
          "requestId": {
            "type": "string",
            "description": "Request ID (if available; helpful for support)"
          },
          "inputCount": {
            "type": "integer",
            "description": "Number of images processed (max 10)",
            "example": 2
          },
          "cost": {
            "type": "number",
            "description": "Final charged amount (after discounts and currency conversion)",
            "example": 0.003
          },
          "currency": {
            "type": "string",
            "description": "Currency of the charge",
            "example": "USD"
          },
          "truncated": {
            "type": "boolean",
            "description": "True if more than 10 images were provided",
            "example": false
          },
          "has_nsfw_concepts": {
            "type": "array",
            "description": "Per-image NSFW flags in input order",
            "items": {
              "type": "boolean"
            },
            "example": [
              false,
              true
            ]
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "True if any image was flagged",
            "example": true
          }
        }
      },
      "VideoGenerationRequest": {
        "type": "object",
        "required": ["model"],
        "properties": {
          "model": {
            "type": "string",
            "description": "The video model to use for generation. See the docs for the current model list and required inputs."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing the video to generate",
            "example": "A serene lake at sunset with gentle ripples on the water"
          },
          "script": {
            "type": "string",
            "description": "Fully-written script for LongStories models (takes precedence over prompt)"
          },
          "conversationUUID": {
            "type": "string",
            "description": "UUID for conversation tracking"
          },
          "projectId": {
            "type": "string",
            "description": "Project identifier for LongStories models"
          },
[...]
